<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842839683419-9r2skv0mdmr3071gm0ecgtsdur8sc7rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842839683419-9r2skv0mdmr3071gm0ecgtsdur8sc7rt</string>
	<key>API_KEY</key>
	<string>AIzaSyDBpBFqRBsuqUEmeCJlX6Vm-WrEkSU6KJc</string>
	<key>GCM_SENDER_ID</key>
	<string>842839683419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iturriosdev.rifasmexico.dev</string>
	<key>PROJECT_ID</key>
	<string>rifasmexico-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>rifasmexico-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842839683419:ios:2dd4a84b39509e791b2a7e</string>
</dict>
</plist>